<script setup>
import { $fetch } from 'ohmyfetch'
import { useRoute, useRuntimeConfig, useAsyncData, useHead, ref, computed, createError } from '#imports'

const route = useRoute()
const runtimeConfig = useRuntimeConfig()

const encodedSeason = computed(() => encodeURIComponent(route.params.season))

// lower leagues / breakdown

const { data: leagueGroups } = await useAsyncData(
  `league_groups_${encodedSeason.value}_${route.params.sex}`,
  () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/leagues/seasons/${encodedSeason.value}/sexes/${route.params.sex}/league-groups`)
)

const leagueGroup = ref(leagueGroups.value.find(lg => lg.id === route.params.leagueId))

if (!leagueGroup.value) {
  throw createError({ statusCode: 404, statusMessage: 'Page Not Found' })
}

if (leagueGroup.value.dropdowns === 'ZpnAndLeagueAndPlay') {
  var { data: voivodeships } = await useAsyncData(
    `seasons/${encodedSeason.value}/league-group/${leagueGroup.value.id}/sexes/Male/voivodeship-dictionaries`,
    () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/seasons/${encodedSeason.value}/league-group/${leagueGroup.value.id}/sexes/Male/voivodeship-dictionaries`)
  )
} else if (leagueGroup.value.dropdowns === 'Play') {
  const leagueId = leagueGroup.value.leagues[0].leagueId

  var { data: plays } = await useAsyncData(
    `leagues/${leagueId}/seasons/${encodedSeason.value}/play-dictionaries`,
    () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/leagues/${leagueId}/seasons/${encodedSeason.value}/play-dictionaries`)
  )
} else if (leagueGroup.value.dropdowns === 'Championship') {
  const leagueId = leagueGroup.value.leagues[0].leagueId

  var { data: competitions } = await useAsyncData(
    `leagues/${leagueId}/seasons/${encodedSeason.value}/sexes/${route.params.sex}/pzpn-championship-play-dictionaries`,
    () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/leagues/${leagueId}/seasons/${encodedSeason.value}/sexes/${route.params.sex}/pzpn-championship-play-dictionaries`)
  )
}

const dropdown = ref(voivodeships || plays || competitions)

if (leagueGroup.value.leagues.length === 1) {
  const leagueId = leagueGroup.value.leagues[0].leagueId

  var { data: playData } = await useAsyncData(
    `season/${route.params.season}/league/${leagueId}/advanced-tables`,
    () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/leagues/${leagueId}/seasons/${encodedSeason.value}/advanced-tables`)
  )

  var { data: matchesData } = await useAsyncData(
    `season/${route.params.season}/league/${leagueId}/matches`,
    () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/leagues/${leagueId}/seasons/${encodedSeason.value}/matches`)
  )
}

const play = ref(playData)
const matches = ref(matchesData)

useHead({
  title: leagueGroup.value.name + ' ' + route.params.season
})
</script>

<template>
  <div>
    <h1>{{ leagueGroup.name }} {{ $route.params.season }}</h1>

    <div v-if="leagueGroup.dropdowns">
      <label>{{ leagueGroup.subTitle }}</label>

      <ul class="link-list">
        <li v-for="item in dropdown">
          <NuxtLink
            v-if="leagueGroup.dropdowns === 'ZpnAndLeagueAndPlay'"
            :to="`/${$route.params.sex}/season/${encodedSeason}/league/${leagueGroup.id}/zpn/${item.id}`">
              {{ item.name }}
          </NuxtLink>
          <NuxtLink
            v-if="leagueGroup.dropdowns === 'Championship' || leagueGroup.dropdowns === 'Play'"
            :to="`/play/${item.id}`">
              {{ item.name }}
          </NuxtLink>
        </li>
      </ul>
    </div>

    <LeagueTable v-if="play && play.rows" :rows="play.rows" :matches="matches" />

    <LeagueMatches v-if="matches" :matches="matches" />
  </div>
</template>
