<script setup>
import { $fetch } from 'ohmyfetch'
import { useRoute, useRuntimeConfig, useAsyncData, useHead, definePageMeta, ref, computed, abortNavigation } from '#imports'

definePageMeta({
  middleware: [
    function () {
      const route = useRoute()

      if (route.params.sex && !['Male', 'Female'].includes(route.params.sex)) {
        return abortNavigation('Page not found')
      }
    }
  ]
})

const route = useRoute()
const runtimeConfig = useRuntimeConfig()
const tSex = ref(route.params.sex === 'Male' ? 'Mężczyźni' : 'Kobiety')
const title = computed(() => `${route.params.season} - ${tSex.value}`)

const encodedSeason = ref(encodeURIComponent(route.params.season))

const { data: leagueGroups } = await useAsyncData(
  `sex/${route.params.sex}/season/${encodedSeason}/league-groups`,
  () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/leagues/seasons/${encodedSeason.value}/sexes/${route.params.sex}/league-groups`)
)

useHead({
  title: title.value
})
</script>

<template>
  <div>
    <h1>{{ title }}</h1>

    <div>
      <legend>Rozgrywki</legend>

      <ul class="link-list">
        <li v-for="leagueGroup in leagueGroups">
          <NuxtLink :to="`/${$route.params.sex}/season/${encodedSeason}/league/${leagueGroup.id}`" >{{ leagueGroup.name }}</NuxtLink>
        </li>
      </ul>
    </div>
  </div>
</template>
