<template>
  <NuxtLoadingIndicator color="maroon" />
  <div class="container">
    <NuxtLink to="/" class="logo">
      <img src="/favicon.svg" alt="LNPWyniki" />
      <span>Strona Główna</span>
    </NuxtLink>

    <div class="intro">
      <b>Witaj!</b>
      <p>
        Ta strona jest jedynie alternatywną prezentacją wyników jakie można znaleźć w zakładce <a href="https://www.laczynaspilka.pl/rozgrywki/">Wyniki na laczynaspilka.pl</a>
      </p>
      <p>
        Celem tej strony nie jest konkurencja lub zarobek, lecz pokazanie, że niewiele trzeba by istniejące dane można przekazać w sposób czytelny bez zbędnych dodatków i przeszkód, które są na oficjalnej stronie.
      </p>
    </div>

    <NuxtPage />

    <div class="footer">
      <p>Kod źródłowy na wolnej licencji tej strony można znaleźć w <a href="https://gitlab.com/lumnn/lnpwyniki">repozytorium Gitlab</a>.</p>
      <p>Wszystkie informacje wyświetlone na tej stronie pochodzą z serwisu laczynaspilka.pl</p>
    </div>
  </div>
</template>

<style lang="scss">
.logo {
  &:hover {
    text-decoration: none;
  }

  img {
    height: 2em;
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
    margin-left: 1rem;
    font-weight: bold;
  }
}

.intro {
  background: var(--odd-bg);
  color: var(--text-muted-color);
  padding: 1rem 1rem .5rem 1rem;
  margin: 1rem 0;
  border-radius: var(--border-radius);
}

.footer {
  margin-top: 4rem;
  font-size: .8em;
  color: var(--text-muted-color);
}
</style>
