<script setup>
import { $fetch } from 'ohmyfetch'
import { useRoute, useRuntimeConfig, useAsyncData, useHead, reactive, ref, computed, createError, watchEffect } from '#imports'

const runtimeConfig = useRuntimeConfig()
const route = useRoute()

const clubId = route.params.clubId
const { data: club } = await useAsyncData(
  `clubs/${clubId}`,
  () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/clubs/${clubId}`)
)

if (!club.value) {
  throw createError({ statusCode: 404, statusMessage: 'Club Not Found' })
}

const { data: clubSeasons } = await useAsyncData(
  `clubs/${clubId}/seasons`,
  () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/clubs/${clubId}/seasons`)
)

const season = ref(route.query.season || clubSeasons.value[0].name)

watchEffect(() => {
  season.value = route.query.season || clubSeasons.value[0].name
})

const teamsBySeason = reactive({})
const seasonTeams = computed({
  get () { return teamsBySeason[season.value] },
  set (value) { teamsBySeason[season.value] = value }
})
const isLoadingSeasonTeams = ref(false)

watchEffect(async () => {
  if (!clubSeasons.value.find(s => s.name === season.value)) {
    throw createError({ statusCode: 404, statusMessage: 'Club Season Not Found' })
  }

  if (teamsBySeason[season.value]) {
    return
  }

  isLoadingSeasonTeams.value = true
  const seasonEncoded = encodeURIComponent(season.value)

  const seasonTeamsRequest = await useAsyncData(
    `clubs/${clubId}/seasons/${seasonEncoded}/teams`,
    () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/clubs/${clubId}/seasons/${seasonEncoded}/teams`)
  )

  seasonTeams.value = seasonTeamsRequest.data
  isLoadingSeasonTeams.value = false
})

useHead({
  title: club.value.name
})
</script>

<template>
  <div>
    <h1><Team :team="club" /></h1>

    <dl class="spec">
      <div>
        <dt>Adress</dt>
        <dd>{{ club.address }}</dd>
      </div>
    </dl>

    <h2>Drużyny - {{ season }}</h2>
    <ul class="link-list" v-if="!isLoadingSeasonTeams">
      <li v-for="team in seasonTeams">
        <NuxtLink :to="`/team/${team.id}`">{{ team.name }} - {{ team.league.name }}</NuxtLink>
      </li>
    </ul>
    <span v-else class="loading">Ładowanie drużyn...</span>

    <h2>Sezony</h2>
    <ul>
      <li v-for="clubSeason in clubSeasons">
        <NuxtLink v-if="season !== clubSeason.name" :to="`/club/${club.id}?season=${clubSeason.name}`">{{ clubSeason.name }}</NuxtLink>
        <b v-else>{{ clubSeason.name }}</b>
      </li>
    </ul>
  </div>
</template>
