<script setup>
import { $fetch } from 'ohmyfetch'
import { useRoute, useRuntimeConfig, useAsyncData, useHead, reactive, ref, computed, watchEffect } from '#imports'

const route = useRoute()
const runtimeConfig = useRuntimeConfig()

const { data: play } = await useAsyncData(
  `play_${route.params.playId}_advanced_table`,
  () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/plays/${route.params.playId}/advanced-tables`)
)

const { data: matches } = await useAsyncData(
  `play_${route.params.playId}_matches`,
  () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/plays/${route.params.playId}/matches`)
)

const playedMatches = computed(() => matches.value.filter(m => m.state === 'Rozegrany').reverse())
const playedMatchesEvents = reactive([])
const loadingEvents = ref(true)

const lastPlayedRound = computed(() => playedMatches.value[0].queue)

watchEffect(async () => {
  const matchPromises = []

  for (const match of playedMatches.value) {
    matchPromises.push(
      $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/matches/${match.matchId}/events`)
        .then((response) => {
          return { ...response, matchId: match.matchId }
        })
    )
  }

  const matchEventsRequests = await Promise.allSettled(matchPromises)

  loadingEvents.value = false
  playedMatchesEvents.push(
    ...matchEventsRequests
      .filter(result => result.status === 'fulfilled')
      .reverse()
      .map(result => result.value)
      .map(
        playedMatch => playedMatch.events.reverse().map(
          matchPart => matchPart.events.reverse().map(
            (event) => {
              const match = playedMatches.value.find(m => m.matchId === playedMatch.matchId)
              const team = event.isHost ? match.host : match.guest
              return { ...event, team }
            }
          )
        ).flat()
      ).flat()
  )
})

const goalscorers = computed(() => {
  const goalsByPlayer = {}

  const matchGoals = playedMatchesEvents.filter(m => m.type === 'Goal' && m.subType !== 'OwnGoal')

  for (const goal of matchGoals) {
    if (!goalsByPlayer[goal.player.id]) {
      goalsByPlayer[goal.player.id] = {
        player: goal.player,
        goals: []
      }
    }

    goalsByPlayer[goal.player.id].goals.push(goal)
  }

  return Object.values(goalsByPlayer).sort((a, b) => b.goals.length - a.goals.length)
}, { immediate: true })

const goalscorerPos = computed(() => {
  let lastPos = null

  return goalscorers.value.map((player, index) => {
    const prev = goalscorers.value[index - 1]

    if (prev && prev.goals.length === player.goals.length) {
      return lastPos
    }

    lastPos = index + 1
    return lastPos
  })
})

const scrollTo = function (el) {
  if (typeof el === 'string') {
    el = document.querySelector(el)
  }

  if (el instanceof HTMLElement) {
    el.scrollIntoView({
      behavior: 'smooth'
    })
  }
}

useHead({
  title: play.value.play.name
})
</script>

<template>
  <div>
    <h1>{{ play.play.name }}</h1>

    <LeagueTable v-if="play.rows" :rows="play.rows" :matches="matches" />

    <ul class="page-menu">
      <li><button @click="scrollTo(`#matches-round-${lastPlayedRound}`)">Kolejka {{lastPlayedRound }}</button></li>
      <li><button @click="scrollTo('#best-goalscorers')">Najlepsi Strzelcy</button></li>
    </ul>

    <h2 style="margin-top: 2rem;">Mecze</h2>
    <LeagueMatches v-if="matches" :matches="matches" />

    <h2 id="best-goalscorers">Najlepsi Strzelcy</h2>
    <div v-if="!loadingEvents">
      <div v-for="(goalscorer, index) in goalscorers" :key="goalscorer.player.id" class="goalscorer">
        <div class="goalscorer__position">{{ goalscorerPos[index] }}.</div>
        <div class="goalscorer__goals">{{ goalscorer.goals.length }}</div>
        <div class="goalscorer__player">
          <NuxtLink :to="`/player/${goalscorer.player.id}`">
            {{ goalscorer.player.firstname }} {{ goalscorer.player.lastname }}
          </NuxtLink>
        </div>
        <div class="goalscorer__team goalscorer__team--full">{{ goalscorer.goals[0].team.name }}</div>
        <div class="goalscorer__team goalscorer__team--short">{{ goalscorer.goals[0].team.abbreviation }}</div>
      </div>
    </div>
    <div v-else class="loading">
      Loading...
    </div>
  </div>
</template>

<style lang="scss">
.goalscorer {
  border-radius: var(--border-radius);
  padding: .25rem .5rem;

  &:nth-child(2n + 1) {
    background: var(--odd-bg);
  }

  &__position,
  &__goals {
    flex-shrink: 0;
    flex-grow: 0;
    display: inline-block;
    align-self: center;
    text-align: right;
    margin-right: .5rem;
  }

  &__position {
    color: var(--text-muted-color);
  }

  &__goals {
    font-weight: bold;
  }

  &__player {
    flex: 1 0 max-content;
    display: inline-block;
    margin-right: 1em;
  }

  &__team {
    align-self: end;
    color: var(--text-muted-color);
    display: inline-block;
    margin-left: auto;
    font-size: .8em;

    &--full {
      display: none;
    }
  }

  @media (min-width: 25rem) {
    display: flex;
    flex-wrap: wrap;

    &__goals,
    &__position {
      width: 2rem;
    }

    &__player {
      margin-left: 1rem;
    }
  }

  @media (min-width: 30rem) {
    &__team {
      &--full {
        display: block;
      }

      &--short {
        display: none;
      }
    }
  }
}
</style>