<script setup>
import Team from './Team'
import { computed, reactive } from '#imports'
import VTooltip from 'floating-vue/src/directives/v-tooltip'
import { formatDate } from '../functions/formatDate'

const props = defineProps({
  rows: {
    type: Array,
    required: true
  },
  matches: {
    type: Array,
    required: false,
    default: () => []
  }
})

const highlightedTeams = reactive([])

const playedMatches = computed(() => props.matches.filter(m => m.state === 'Rozegrany' || m.state === 'Walkower').reverse())

const formMatches = computed(() => {
  const result = {}

  for (const row of props.rows) {
    const teamId = row.team.id

    result[teamId] = playedMatches.value
      .filter(match => match.host.id === teamId || match.guest.id === teamId)
      .sort((a, b) => new Date(a) - new Date(b))
      .slice(0, 5)

    const now = new Date()
    // now.setHours(0)

    const nextMatches = props.matches.filter((match) => {
      if (match.state !== 'Nierozegrany' || (match.host.id !== teamId && match.guest.id !== teamId)) {
        return false
      }

      const date = new Date(match.dateTime)

      if (date < now) {
        return false
      }

      const time = date.getHours()

      if (match.canDateTimeChange && (time <= 2 || time >= 22)) {
        return false
      }

      return true
    })

    if (nextMatches.length > 0) {
      result[teamId].unshift(nextMatches[0])
    }

    result[teamId] = result[teamId].map((match) => {
      const scores = match.scores && match.scores.final && match.scores.final.match(/(\d+):(\d+)/)
      const isHome = match.host.id === teamId

      let formResult = 'unknown'

      if (scores) {
        const result = Number.parseInt(scores[1]) - Number.parseInt(scores[2])

        if (result === 0) {
          formResult = 'draw'
        } else if (isHome) {
          formResult = result > 0 ? 'win' : 'loss'
        } else {
          formResult = result > 0 ? 'loss' : 'win'
        }
      }

      return {
        ...match,
        formResult,
        tooltipContent: `
          <b>${scores ? '(' + match.scores.final + ')' : ''} ${match.host.abbreviation} - ${match.guest.abbreviation}</b>
          <br/>
          <small>${formatDate(match.dateTime)}</small>
        `
      }
    })

    if (result[teamId][0]) {
      const opponentPoints = nextMatches.reduce((points, match) => {
        const opponentId = match.host.id === teamId ? match.guest.id : match.host.id
        points += props.rows.find(row => row.team.id === opponentId).all.points

        return points
      }, 0)

      let nextMatchesAbbr = nextMatches.slice(0, 5).map(m => m.host.id === teamId ? m.guest.abbreviation : m.host.abbreviation).join(', ')

      if (nextMatches.length > 5) {
        nextMatchesAbbr += ` + ${nextMatches.length - 5}`
      }

      result[teamId][0].tooltipContent += `
        <br><small>Suma punktów pozostałych przeciwników: ${opponentPoints}</small>
        <br><small>Pozostało ${nextMatches.length} meczy:
        <br><small>${nextMatchesAbbr}</small>
      `
    }
  }

  return result
})

const scrollToMatch = function (matchId) {
  const el = document.getElementById(`match-${matchId}`)

  if (!el) {
    return
  }

  el.scrollIntoView()
}
</script>

<template>
  <div class="lt-container table-responsive">
    <table class="lt" style="margin-bottom: 2rem;">
      <tr class="title">
        <th />
        <th><abbr title="Zmiana">Z</abbr></th>
        <th width="50%" class="col-team">Nazwa</th>
        <th><abbr title="Mecze rozegrane">M.</abbr></th>
        <th><abbr title="Punkty">Pkt.</abbr></th>
        <th><abbr title="Zwycięstwa">Z.</abbr></th>
        <th><abbr title="Remisy">R.</abbr></th>
        <th><abbr title="Porażki">P.</abbr></th>
        <th>Bramki</th>
        <th width="10px">Forma</th>
        <!-- <th><abbr title="Zwycięstwa">Z.</abbr></th>
        <th><abbr title="Remisy">R.</abbr></th>
        <th><abbr title="Porażki">P.</abbr></th>
        <th>Bramki</th>
        <th><abbr title="Zwycięstwa">Z.</abbr></th>
        <th><abbr title="Remisy">R.</abbr></th>
        <th><abbr title="Porażki">P.</abbr></th>
        <th>Bramki</th> -->
      </tr>

      <tbody>
        <tr
          v-for="row in rows"
          :key="row.team.id"
          :class="{
            'row': true,
            'row--promotion': row.promotionStatus === 'Promotion',
            'row--demotion': row.promotionStatus === 'Demotion',
            'row--highlighted': highlightedTeams.includes(row.team.id)
          }"
        >
          <th class="col-pos">{{ row.index }}</th>
          <td class="col-change">
            <span v-if="row.positionStatus === 'Upper'" style="color: green">↑</span>
            <span v-else-if="row.positionStatus === 'Lower'" style="color: red">↓</span>
          </td>
          <td class="col-team">
            <NuxtLink :to="`/team/${row.team.id}`"><Team :team="row.team" /></NuxtLink>
          </td>
          <td class="col-matches">{{ row.all.matchesCount }}</td>
          <td class="col-points">{{ row.all.points }}</td>
          <td class="col-wins all">{{ row.all.winsCount }}</td>
          <td class="col-draws all">{{ row.all.drawsCount }}</td>
          <td class="col-loses all">{{ row.all.losesCount }}</td>
          <td class="col-goals all">{{ row.all.goalsCount }}-{{ row.all.lostGoalsCount }}</td>
          <td class="col-form all">
            <div
              v-for="formMatch in formMatches[row.team.id]"
              :key="formMatch.matchId"
              v-tooltip="{ content: formMatch.tooltipContent, placement: 'top-end', delay: 0, instantMove: true, distance: 12, html: true }"
              tabindex="-1"
              :class="['form', `form--${formMatch.formResult}`]"
              @contextmenu.prevent.stop
              @mouseover="highlightedTeams.push(formMatch.host.id, formMatch.guest.id)"
              @mouseleave="highlightedTeams.splice(0, highlightedTeams.length)"
              @dblclick="scrollToMatch(formMatch.matchId)"
              @click.ctrl="scrollToMatch(formMatch.matchId)"
            >
              <template v-if="formMatch.formResult === 'unknown'">
                ?
              </template>
              <template v-else>
                {{ formMatch.formResult[0].toUpperCase() }}
              </template>
            </div>
          </td>
          <!-- <td class="col-wins home">{{ row.home.winsCount }}</td>
          <td class="col-draws home">{{ row.home.drawsCount }}</td>
          <td class="col-loses home">{{ row.home.losesCount }}</td>
          <td class="col-goals home">{{ row.home.goalsCount }}-{{ row.home.lostGoalsCount }}</td>
          <td class="col-wins away">{{ row.away.winsCount }}</td>
          <td class="col-draws away">{{ row.away.drawsCount }}</td>
          <td class="col-loses away">{{ row.away.losesCount }}</td>
          <td class="col-goals away">{{ row.away.goalsCount }}-{{ row.away.lostGoalsCount }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss">
@import 'floating-vue/dist/style.css';

.lt {
  width: 100%;
  border-collapse: collapse;
  border: 0;
  --table-padding: 3px;

  td, th {
    border: 0;
    margin: 0;
    padding: var(--table-padding);
  }

  .title {
    &,
    th {
      background: var(--accent);
      color: var(--body-bg);
      font-weight: normal;
    }
  }

  .numeric {
    text-align: right;
  }

  .row {
    th {
      background: var(--league-table--position-color, transparent);
    }

    &--promotion {
      --league-table--position-color: rgba(0, 255, 0, 0.25);
    }

    &--demotion {
      --league-table--position-color: rgba(255, 0, 0, 0.25);
    }
  }

  tbody {
    tr:nth-child(2n) {
      th {
        background: var(--league-table--position-color, var(--odd-bg));
      }

      td {
        background: var(--odd-bg);
      }
    }

    tr:hover {
      th, td {
        background: var(--odd-bg--hover);
      }
    }

    tr.row--highlighted {
      th {
        --league-table--position-color: var(--odd-bg--hover);
      }

      td {
        background: var(--odd-bg--hover);
      }
    }
  }

  .col-team {
    background: var(--body-bg);
    min-width: 10rem;
    max-width: min(calc(var(--container-width) / 3), 40vw);
    position: sticky;
    left: calc(var(--gap) * -1);
    box-shadow: 1px 0 2px -.75px rgba(0, 0, 0, 0.25);
    padding: 0;

    a {
      max-width: 100%;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: middle;
      padding: var(--table-padding);
    }

    @media (hover: none) {
      a {
        padding: .4rem 0;
      }
    }
  }

  .col-matches,
  .col-points,
  .col-wins,
  .col-draws,
  .col-loses {
    text-align: center;
  }

  .col-points {
    font-weight: bold;
  }

  .col-goals {
    text-align: center;
  }

  .col-form {
    white-space: nowrap;
    padding: 0;
  }

  .home,
  .away {
    color: var(--text-muted-color);
  }
}

.lt-container {
  width: auto;
  margin-left: calc(var(--gap) * -1);
  margin-right: calc(var(--gap) * -1);
  padding-left: var(--gap);
  padding-right: var(--gap);

  @media screen and (min-width: calc(var(--gap) * 2 + var(--container-width))) {
    margin-left: 0;
    margin-right: 0;
  }
}

.form {
  user-select: none;
  display: inline-block;
  padding-bottom: .1em;
  width: 1.25em;
  height: 1.25em;
  font-size: 1em;
  text-align: center;
  color: var(--body-bg);
  border-radius: var(--border-radius-sm);
  margin-right: 3px;
  cursor: pointer;
  transition: opacity var(--transition);

  &:hover {
    opacity: .5;
  }

  &:hover,
  &:visited {
    text-decoration: none;
    color: var(--body-bg);
  }

  &--draw {
    background: var(--yellow-color, yellow);
  }

  &--win {
    background: var(--green-color, green);
  }

  &--loss {
    background: var(--red-color, red);
  }

  &--unknown {
    background: var(--text-muted-color);
  }
}
</style>
