<script setup>
import { computed } from '#imports'
import { formatDate } from '../functions/formatDate'

const props = defineProps({
  matches: {
    type: Array,
    required: true
  },
  noRounds: {
    type: Boolean,
    default: false
  }
})

const matchesByRound = computed(() => {
  const rounds = {}

  for (const match of props.matches) {
    const round = props.noRounds ? 0 : match.queue

    // first match add to array and break
    if (!rounds[round]) {
      rounds[round] = []
    }

    rounds[round].push(match)
  }

  for (const round in rounds) {
    rounds[round].sort((a, b) => new Date(a.dateTime) - new Date(b.dateTime))
  }

  return rounds
})

const betterSideByMatch = computed(() => {
  const matches = {}

  props.matches.forEach((match) => {
    if (match.state !== 'Rozegrany' && match.state !== 'Walkower') {
      return null
    }

    if (!match.scores.final) {
      return null
    }

    const scores = match.scores.final.match(/(\d+):(\d+)/)

    if (!scores) {
      return null
    }

    matches[match.matchId] = Number.parseInt(scores[1]) - Number.parseInt(scores[2])
  })

  return matches
})

const unlikelyPlayedMatches = computed(() => {
  const checkAgainstDate = new Date()
  // 7 days ago
  checkAgainstDate.setDate(checkAgainstDate.getDate() - 7)

  return props.matches.filter((match) => {
    if (match.state !== 'Nierozegrany' ||
      match.canDateTimeChange !== true ||
      match.scores.final
    ) {
      return false
    }

    const date = new Date(match.dateTime)

    if (date < checkAgainstDate) {
      return true
    }

    if (date.getHours() < 6 || date.getHours() > 22) {
      return true
    }

    return false
  })
    .map(m => m.matchId)
})
</script>

<template>
  <div>
    <div v-for="(roundMatches, round) in matchesByRound" :id="`matches-round-${round}`" :key="round" style="margin-bottom: 2rem;">
      <div v-if="!noRounds" style="margin-bottom: 2rem;">
        <b class="text-muted">Kolejka {{ round }}</b>
      </div>

      <div
        v-for="match in roundMatches"
        :id="`match-${match.matchId}`"
        :key="match.matchId"
        :class="{
          'match-line': true,
          'match-line--home-win': betterSideByMatch[match.matchId] > 0,
          'match-line--away-win': betterSideByMatch[match.matchId] < 0,
          'match-line--unlikely': unlikelyPlayedMatches.includes(match.matchId)
        }"
      >
        <NuxtLink class="side side-home" :to="`/team/${match.host.id}`">
          <span class="side__full">
            {{ match.host.name }}
          </span>
          <span class="side__abbr">
            {{ match.host.abbreviation }}
          </span>
        </NuxtLink>

        <div class="result">
          <NuxtLink v-if="match.state === 'Rozegrany' || match.state === 'Walkower'" :to="`/match/${match.matchId}`">
            {{ match.scores.final }}
          </NuxtLink>
        </div>

        <NuxtLink class="side side-away" :to="`/team/${match.guest.id}`">
          <span class="side__full">
            {{ match.guest.name }}
          </span>
          <span class="side__abbr">
            {{ match.guest.abbreviation }}
          </span>
        </NuxtLink>
        <div class="date">
          {{ formatDate(match.dateTime, match) }}
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.match-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 .5rem;
  border-radius: var(--border-radius);

  &:nth-child(2n) {
    background: var(--odd-bg);
  }

  &:hover {
    background: var(--odd-bg--hover);
  }

  &--unlikely {
    opacity: .25;

    &:hover {
      opacity: 1;
    }
  }

  .date {
    text-align: center;
    width: 100%;
    color: var(--text-muted-color);
    font-size: .8em;
    font-style: italic;
    font-weight: 300;
    padding: .2em 0;
  }

  .side {
    position: relative;
    font-weight: 300;
    width: 3rem;
    flex-shrink: 1;
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: currentColor;
    padding: .3rem 0;

    &__full {
      display: none;
    }
  }

  .side-home {
    text-align: right;
  }

  .result {
    width: 10%;
    text-align: center;
    font-weight: bold;
    margin: 0 1rem;
    padding: .3rem 0;

    a {
      text-decoration: none;
      font-size: 1.25em;
      line-height: 1em;
    }
  }

  &--home-win .side-home,
  &--away-win .side-away {
    font-weight: bold;
  }

  @media screen and (min-width: 20rem) {
    .side__full {
      display: initial;
    }

    .side__abbr {
      display: none;
    }
  }

  @media screen and (min-width: 40rem) {
    .date {
      flex: 0 0 8rem;
      text-align: right;
    }

    .side {
      min-width: 15rem;
    }
  }
}
</style>
