<script setup>
const props = defineProps({
  event: {
    type: Object,
    required: true
  },
  showMinute: {
    type: Boolean,
    default: false
  }
})
</script>

<template>
  <span :title="event.minute" :class="{ 'event-symbol': true, 'event-symbol__goal': true, 'event-symbol__goal--own': props.event.subType === 'OwnGoal' }" v-if="props.event.type === 'Goal'">⚽</span>
  <span :title="event.minute" class="event-symbol event-symbol__card event-symbol__card--yellow" v-else-if="props.event.type === 'Card' && props.event.subType === 'Yellow'"></span>
  <span :title="event.minute" class="event-symbol event-symbol__card event-symbol__card--red" v-else-if="props.event.type === 'Card' && props.event.subType === 'Red'"></span>
  <span :title="event.minute" class="event-symbol event-symbol__card event-symbol__card--yellow-red" v-else-if="props.event.type === 'Card' && props.event.subType === 'SecondYellow'"></span>
  <span :title="event.minute" class="event-symbol event-symbol__sub event-symbol__sub--in" v-else-if="props.event.type === 'Substitution' && props.event.subType === 'In'">▲</span>
  <span :title="event.minute" class="event-symbol event-symbol__sub event-symbol__sub--out" v-else-if="props.event.type === 'Substitution' && props.event.subType === 'Out'">▼</span>
</template>

<style lang="scss">
.event-symbol {
  cursor: help;
  width: 1rem;
  text-align: center;

  &__goal {
    &--own {
      filter: hue-rotate(150deg) saturate(25) contrast(2);
    }
  }

  &__sub {
    &--in {
      color: var(--green-color, green);
    }

    &--out {
      color: var(--red-color, red);
    }
  }

  &__card {
    line-height: 1em;

    &:before {
      content: '';
      display: inline-block;
      width: .6em;
      height: .8em;
      margin-left: .2em;
      margin-right: .2em;
      border-radius: .1em;
    }

    &--yellow {
      &:before {
        background: var(--yellow-color, #FFCE02);
      }
    }

    &--red {
      &:before {
        background: var(--red-color);
      }
    }

    &--yellow-red {
      &:before {
        background: linear-gradient(-45deg, var(--yellow-color, #FFCE02) 30%, var(--red-color) 60%);
      }
    }
  }
}
</style>
