<script setup>
defineProps({
  staff: {
    type: Object,
    required: true
  }
})
</script>

<template>
  <div class="staff">
    <div class="staff__name">{{ staff.firstname }} {{ staff.lastname }}</div>
    <small class="staff__function">{{ staff.function }}</small>
  </div>
</template>

<style lang="scss">
.staff {
  margin-bottom: .75rem;

  &__name {
    line-height: .75;
  }

  &__function {
    color: var(--text-muted-color);
    font-style: italic;
  }
}
</style>
