<script setup>
import { computed } from '#imports'

const props = defineProps({
  player: {
    type: Object,
    required: true
  },
  index: {
    type: Number,
    required: false,
    default: null
  }
})

const events = computed(() => {
  const cards = props.player.cards || []
  const goals = props.player.goals || []
  const substitutions = props.player.substitutions || []

  let events = [
    ...cards.map(card => ({
      type: 'Card',
      subType: card.type,
      minute: card.minute
    })),
    ...goals.map(goal => ({
      type: 'Goal',
      subType: goal.type,
      minute: goal.minute
    })),
    ...substitutions.map(sub => ({
      type: 'Substitution',
      minute: sub.minute,
      subType: sub.type
    }))
  ]

  events.sort((a, b) => {
    const aMinParts = a.minute.match(/(\d+)'(\+(\d+))?/)
    const aMin = aMinParts[1] + (aMinParts[3] || 0)

    const bMinParts = b.minute.match(/(\d+)'(\+(\d+))?/)
    const bMin = bMinParts[1] + (bMinParts[3] || 0)

    return aMin - bMin
  })

  return events
}, { immediate: true })
</script>

<template>
  <div class="player">
    <span v-if="index" class="player__index">{{ index }}.</span>
    <span class="player__number" title="Numer zawodnika">{{ props.player.number }}</span>
    <span class="player__role">
      <abbr title="Bramkarz" v-if="player.isKeeper">B</abbr>
      <abbr title="Kapitan" v-if="player.isCaptain">K</abbr>
    </span>
    <NuxtLink :to="`/player/${props.player.id}`">{{ props.player.firstname }} {{ props.player.lastname }}</NuxtLink>
    <div class="player__events">
      <MatchEventSymbol v-for="event in events" :event="event" />
    </div>
  </div>
</template>

<style lang="scss">
.player {
  display: flex;
  align-items: center;
  padding-top: .1rem;
  padding-bottom: .1rem;
  padding-left: .5rem;
  padding-right: .5rem;

  &:nth-child(2n) {
    background: var(--odd-bg);
    border-radius: 100rem;
  }

  &__role {
    margin-right: .5rem;
    width: 1.5rem;
    color: var(--text-muted-color);
  }

  &__index,
  &__number {
    text-align: right;
    display: inline-block;
    width: 2rem;
    margin-right: 1rem;
    color: var(--text-muted-color);
  }

  &__events {
    margin-left: auto;
    white-space: nowrap;
  }

  a {
    color: currentColor;
    padding: .25rem 0;

    &:hover {
      color: var(--link-color);
    }
  }
}
</style>
