<script setup>
const props = defineProps({
  team: {
    type: Object,
    required: true
  }
})
</script>

<template>
  <span class="team">
    <img class="team__logo" :src="props.team.logo" v-if="props.team.logo" :alt="props.team.name">
    <span v-else class="team__logo team__logo--empty" />
    <span class="team__name team__name--full">{{ props.team.name }}</span>
  </span>
</template>

<style lang="scss">
  .team {
    &__name {
      vertical-align: middle;
    }

    &__logo {
      height: 1.25em;
      width: 1.25em;
      margin-right: .5em;
      line-height: 1;
      vertical-align: middle;
      position: relative;
      top: -.05em;
    }

    &__logo {
      &--empty {
        border-radius: 1.25em;
        display: inline-block;
        background: var(--text-muted-color);
        opacity: .33;
      }
    }
  }
</style>
