<script setup>
import { $fetch } from 'ohmyfetch'
import { useRuntimeConfig, useRoute, useAsyncData, createError, useHead, reactive } from '#imports'

const runtimeConfig = useRuntimeConfig()
const route = useRoute()

const teamId = route.params.teamId
const { data: team } = await useAsyncData(
  `teams/${teamId}`,
  () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/teams/${teamId}`)
)

if (!team.value) {
  throw createError({ statusCode: 404, statusMessage: 'Team Not Found' })
}

const [
  { data: players },
  { data: playDictionaries },
  { data: club }
] = await Promise.all([
  await useAsyncData(
    `teams/${teamId}/players`,
    () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/teams/${teamId}/players`)
  ),
  await useAsyncData(
    `teams/${teamId}/play-dictionaries`,
    () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/teams/${teamId}/play-dictionaries`)
  ),
  await useAsyncData(
    `clubs/${team.value.club.id}`,
    () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/clubs/${team.value.club.id}`)
  )
])

const playPromises = []
const playTables = reactive({})
const playMatches = reactive({})

for (const play of playDictionaries.value) {
  playPromises.push(
    useAsyncData(
      `teams/${teamId}/plays/${play.id}/tables`,
      () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/teams/${teamId}/plays/${play.id}/tables`)
    ).then((response) => {
      playTables[play.id] = response.data
    })
  )

  playMatches[play.id] = []

  playPromises.push(
    useAsyncData(
      `teams/${teamId}/plays/${play.id}/played-matches`,
      () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/teams/${teamId}/plays/${play.id}/played-matches`)
    ).then(response => playMatches[play.id].push(...response.data.value))
  )

  playPromises.push(
    useAsyncData(
      `teams/${teamId}/plays/${play.id}/not-played-matches`,
      () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/teams/${teamId}/plays/${play.id}/not-played-matches`)
    ).then(response => playMatches[play.id].push(...response.data.value))
  )
}

await Promise.all(playPromises)

useHead({
  title: team.value.team.name
})
</script>

<template>
  <div>
    <div class="club-head">
      <div class="club-head__logo" v-if="team.club.logo">
        <img :src="team.club.logo">
      </div>
      <div class="club-head__info">
        <h1>{{ team.team.name }}</h1>

        <dl class="spec">
          <div>
            <dt>Sezon</dt>
            <dd>
              {{ team.season }}
            </dd>
          </div>

          <div>
            <dt>Rozgrywki</dt>
            <dd>
              <ul class="link-list">
                <li v-for="play in playDictionaries">
                  <NuxtLink :to="`/play/${play.id}`">
                    {{ play.name }}
                    <span v-if="play.category === 'League' && playTables[play.id].index">
                      - Miejsce {{ playTables[play.id].index }}
                    </span>
                  </NuxtLink>
                </li>
              </ul>
            </dd>
          </div>

          <div>
            <dt>Klub</dt>
            <dd><NuxtLink :to="`/club/${club.id}`">{{ club.name }}</NuxtLink> ({{ club.address }})</dd>
          </div>
        </dl>
      </div>
    </div>

    <h2>Zawodnicy</h2>

    <MatchPlayer v-for="(player, index) in players" :player="player" :index="index + 1" />

    <h2>Rozgrywki</h2>

    <div v-for="play in playDictionaries">
      <h3><NuxtLink :to="`/play/${play.id}`">{{ play.name }}</NuxtLink></h3>

      <div class="league-stats">
        <div class="league-stats__stat" v-if="play.category === 'League'">
          <label class="league-stats__stat-label">Miejsce</label>
          <div class="league-stats__value">{{ playTables[play.id].index }}</div>
        </div>
        <div class="league-stats__stat" v-if="play.category === 'League'">
          <label class="league-stats__stat-label">Punkty</label>
          <div class="league-stats__value">{{ playTables[play.id].stats.points }}</div>
        </div>
        <div class="league-stats__stat">
          <label class="league-stats__stat-label">Zwycięstwa</label>
          <div class="league-stats__value">{{ playTables[play.id].stats.winsCount }}</div>
        </div>
        <div class="league-stats__stat">
          <label class="league-stats__stat-label">Remisy</label>
          <div class="league-stats__value">{{ playTables[play.id].stats.drawsCount }}</div>
        </div>
        <div class="league-stats__stat">
          <label class="league-stats__stat-label">Przegrane</label>
          <div class="league-stats__value">{{ playTables[play.id].stats.losesCount }}</div>
        </div>
        <div class="league-stats__stat">
          <label class="league-stats__stat-label">Gole Strzelone</label>
          <div class="league-stats__value">{{ playTables[play.id].stats.goalsCount }}</div>
        </div>
        <div class="league-stats__stat">
          <label class="league-stats__stat-label">Gole Stracone</label>
          <div class="league-stats__value">{{ playTables[play.id].stats.lostGoalsCount }}</div>
        </div>

      </div>
    </div>

    <h2>Mecze</h2>

    <div v-for="play in playDictionaries">
      <h3><NuxtLink :to="`/play/${play.id}`">{{ play.name }}</NuxtLink></h3>

      <LeagueMatches :matches="playMatches[play.id]" no-rounds></LeagueMatches>
    </div>
  </div>
</template>

<style lang="scss">
.club-head {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gap) * -1);
  margin-right: calc(var(--gap) * -1);
  justify-content: center;

  &__logo,
  &__info {
    padding-right: var(--gap);
    padding-left: var(--gap);
  }

  &__logo {
    flex-shrink: 1;

    img {
      max-width: 100%;
      border-radius: var(--border-radius);
    }
  }

  &__info {
    flex-shrink: 1;
    flex-grow: 1;
  }

  @media (min-width: 40rem) {
    flex-wrap: nowrap;
  }
}
</style>
