<script setup>
import { $fetch } from 'ohmyfetch'
import { useRoute, useRuntimeConfig, useAsyncData, useHead, useSeason, reactive, ref, computed, watch, watchEffect } from '#imports'

const route = useRoute()
const runtimeConfig = useRuntimeConfig()

const playerId = route.params.playerId

const [
  { data: player },
  { data: lastMatch },
  { data: playerSeasons },
  { data: clubs },
  { data: teams },
  { data: amateurClubs },
  { data: amateurTeams }
] = await Promise.all([
  useAsyncData(`player_${playerId}`, () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/players/${playerId}`)),
  useAsyncData(`player_${playerId}_lastMatch`, () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/players/${playerId}/last-match`)),
  useAsyncData(`player_${playerId}_seasons`, () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/players/${playerId}/seasons`)),
  useAsyncData(`player_${playerId}_clubs`, () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/players/${playerId}/clubs`)),
  useAsyncData(`player_${playerId}_teams`, () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/players/${playerId}/teams`)),
  useAsyncData(`player_${playerId}_amateurClubs`, () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/players/${playerId}/amateur-clubs`)),
  useAsyncData(`player_${playerId}_amateurTeams`, () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/players/${playerId}/amateur-teams`))
])

useHead({
  title: player.value.firstname + ' ' + player.value.lastname
})

const selectedSeason = ref(route.query.season)
watchEffect(() => { selectedSeason.value = route.query.season })

if (!selectedSeason.value) {
  const season = await useSeason()
  selectedSeason.value = season.current.value.name
}

const leagueStats = reactive({})
const leagueDictionaries = reactive({})
const leagueStatsPromises = []
const isLoading = ref(true)

const currentLeagueStats = computed({
  get () { return leagueStats[selectedSeason.value] },
  set (value) { leagueStats[selectedSeason.value] = value }
})
const currentLeagueDictionaries = computed({
  get () { return leagueDictionaries[selectedSeason.value] },
  set (value) { leagueDictionaries[selectedSeason.value] = value }
})

watch(selectedSeason, async () => {
  const seasonEncoded = encodeURIComponent(selectedSeason.value)
  isLoading.value = true

  const { data: leagueDictionariesBySeason } = await useAsyncData(
    `season/${seasonEncoded}/player/${playerId}/league-dictionaries`,
    () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/players/${playerId}/seasons/${seasonEncoded}/league-dictionaries`)
  )
  currentLeagueDictionaries.value = leagueDictionariesBySeason

  currentLeagueStats.value = {}
  for (const league of currentLeagueDictionaries.value) {
    leagueStatsPromises.push(
      useAsyncData(
        `season/${seasonEncoded}/player/${playerId}/league/${league.id}/stats`,
        () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/players/${playerId}/seasons/${seasonEncoded}/leagues/${league.id}/stats`)
      )
        .then((response) => {
          currentLeagueStats.value[league.id] = response.data
        })
    )
  }

  await Promise.all(leagueStatsPromises)

  isLoading.value = false
}, { immediate: true })

const teamPerSeason = computed(() => {
  return playerSeasons.value.map((season) => {
    return teams.value.filter(team => team.season === season.name)
  })
})

const dateFormatter = Intl.DateTimeFormat('pl-PL', { dateStyle: 'medium' })
const dateOnlyFormatter = (date) => {
  date = new Date(date)
  return dateFormatter.format(date)
}
</script>

<template>
  <div>
    <h1>{{ player.firstname }} {{ player.lastname }}</h1>

    <dl class="spec">
      <div class="current-club">
        <dt>Aktualny Klub</dt>
        <dd>
          <NuxtLink :to="`/club/${player.club.id}`">
            <Team :team="player.club" />
          </NuxtLink>
        </dd>
      </div>

      <div>
        <dt>Wiek</dt>
        <dd>{{ player.age }}</dd>
      </div>

      <div>
        <dt>Obywatelstwo</dt>
        <dd>{{ player.citizenship }}</dd>
      </div>
    </dl>

    <h2>Statystyki - {{ selectedSeason }}</h2>

    <div v-for="league in currentLeagueDictionaries">
      <div v-if="currentLeagueStats[league.id]">
        <h3>{{ league.name }}</h3>

        <div class="league-stats">
          <div class="league-stats__stat league-stats__matches">
            <label class="league-stats__stat-label">Występy</label>
            <div class="league-stats__value">{{ currentLeagueStats[league.id].matchesCount }}</div>
          </div>
          <div class="league-stats__stat league-stats__minutes">
            <label class="league-stats__stat-label">Minuty</label>
            <div class="league-stats__value">{{ currentLeagueStats[league.id].minutes }}</div>
          </div>
          <div class="league-stats__stat league-stats__goals">
            <label class="league-stats__stat-label">Gole</label>
            <div class="league-stats__value">{{ currentLeagueStats[league.id].goals }}</div>
          </div>
          <div class="league-stats__stat league-stats__wins">
            <label class="league-stats__stat-label">Wygrane</label>
            <div class="league-stats__value">{{ currentLeagueStats[league.id].wins }}</div>
          </div>
          <div class="league-stats__stat league-stats__draws">
            <label class="league-stats__stat-label">Remisy</label>
            <div class="league-stats__value">{{ currentLeagueStats[league.id].draws }}</div>
          </div>
          <div class="league-stats__stat league-stats__loses">
            <label class="league-stats__stat-label">Przegrane</label>
            <div class="league-stats__value">{{ currentLeagueStats[league.id].loses }}</div>
          </div>
          <div class="league-stats__stat league-stats__yellowCards">
            <label class="league-stats__stat-label">Żółte Kartki</label>
            <div class="league-stats__value">{{ currentLeagueStats[league.id].yellowCards }}</div>
          </div>
          <div class="league-stats__stat league-stats__redCards">
            <label class="league-stats__stat-label">Czerwone Kartki</label>
            <div class="league-stats__value">{{ currentLeagueStats[league.id].redCards }}</div>
          </div>
        </div>
      </div>
      <span v-else class="loading">Loading ...</span>
    </div>

    <h3>Sezony</h3>

    <ul class="player-seasons">
      <li class="player-season" v-for="(season, index) in playerSeasons">
        <span class="player-season__season">
          <NuxtLink :to="`/player/${player.id}?season=${season.name}`" v-if="season.name !== selectedSeason">{{ season.name }}</NuxtLink>
          <b v-else>{{ season.name }}</b>
        </span>

        <span class="player-season__teams">
          <span class="player-season__team" v-for="seasonTeam in teamPerSeason[index]">{{ seasonTeam.club.name }}</span>
        </span>
      </li>
    </ul>

    <h2>Poprzednie Drużyny</h2>

    <ul class="club-history">
      <li v-for="team in teams">
        <div class="club-history-item">
          <div class="club-history-item__club">
            <NuxtLink :to="`/team/${team.team.id}`"><Team :team="team.club" /></NuxtLink> - {{ team.league.name }}
          </div>
          <span class="club-history-item__from">od {{ dateOnlyFormatter(team.dateFrom) }}</span>
        </div>
      </li>
    </ul>
  </div>
</template>

<style lang="scss">
.current-club {
  dd {
    font-size: 1.5rem;
  }
}

.player-seasons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.player-season {
  padding: .25rem .5rem;
  border-radius: var(--border-radius);

  &:nth-child(2n) {
    background: var(--odd-bg);
  }

  &__season {
    margin-right: 1rem;
  }

  &__teams {
    display: block;
    font-size: .8em;
    color: var(--text-muted-color);
  }

  &__team {
    margin-right: 1rem;
  }
}

.club-history {
  list-style: none;
  padding: 0;
  margin: 0;

  li:nth-child(2n) .club-history-item {
    background: var(--odd-bg);
  }
}

.club-history-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__from {
    color: var(--text-muted-color);
  }
}
</style>
