$primary: #cc0032;

$red: $primary;
$green: darken(adjust-hue($red, 120deg), 5%);
$yellow: saturate(lighten(adjust-hue($red, 60deg), 5%), 5%);

$primaryOnDark: desaturate(lighten($primary, 10%), 30%);
$redOnDark: $primaryOnDark;
$greenOnDark: darken(adjust-hue($redOnDark, 120deg), 10%);
$yellowOnDark: saturate(lighten(adjust-hue($redOnDark, 60deg), 5%), 5%);

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --text-color: #111;
    --accent: #{$primary};
    --link-color: var(--accent);
    --link-color--hover: #{lighten($primary, 10%)};
    --link-color--visited: #{darken(adjust-hue($primary, -45deg), 20%)};
    --text-muted-color: #666;
    --body-bg: #fff;
    --odd-bg: #f6f6f6;
    --odd-bg--hover: #ddd;
    --border-radius: .5rem;
    --border-radius-sm: .15rem;
    --container-width: 50rem;
    --gap: 1rem;
    --red-color: #{$primary};
    --yellow-color: #{$yellow};
    --green-color: #{$green};
    --transition: .2s ease-out;

    @media (prefers-color-scheme: dark) {
        --accent: #{$primaryOnDark};
        --link-color--hover: #{lighten($primaryOnDark, 10%)};
        --link-color--visited: #{lighten(adjust-hue($primaryOnDark, -45deg), 10%)};
        --text-color: #ccc;
        --text-muted-color: #777;
        --body-bg: #111;
        --odd-bg: #1a1a1a;
        --odd-bg--hover: #333;
        --red-color: #{$primaryOnDark};
        --yellow-color: #{$yellowOnDark};
        --green-color: #{$greenOnDark};
    }
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, .h1 {
    font-size: 2rem;
}

h2, .h2 {
    font-size: 1.5rem;
}

h3, .h3 {
    font-size: 1.25rem;
}

h4, .h4 {
    font-size: 1.125rem;
}

h5, .h5 {
    font-size: 1rem;
}

h6, .h6 {
    font-size: 0.8rem;
}

abbr {
    cursor: help;
}

a {
    color: var(--link-color);
    text-decoration: none;

    &:visited {
        color: var(--link-color--visited)
    }

    &:hover {
        color: var(--link-color--hover);
        text-decoration: underline;
    }
}

.container {
    max-width: var(--container-width);
    padding: var(--gap);
    margin: auto;
}

.text-muted {
    color: var(--text-muted-color);
}

.table-responsive {
    overflow-x: scroll;
}

.loading {
    color: var(--text-muted-color);
    animation: 1s infinite alternate loading;
}

@keyframes loading {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.spec {
  margin-bottom: 2rem;

  div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5rem;
    align-items: baseline;
  }

  dt, dd {
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  dt {
    color: var(--text-muted-color);
    width: 20%;
    min-width: 200px;
  }

  dd {
    min-width: 20%;

    > ul {
        margin: 0;
        padding-left: 1rem;
    }
  }
}

.league-stats {
    display: flex;
    flex-wrap: wrap;

    &__stat {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 0 5rem;
        text-align: center;
    }

    &__stat-label {
        color: var(--text-muted-color);
    }

    &__value {
        font-size: 2rem;
    }
}

.link-list {
    li {
        margin-bottom: .25rem;
    }

    @media (hover: none) {
        li {
            a {
                display: inline-block;
                padding: .25rem;
            }
        }
    }
}

.page-menu {
    margin-left: calc(var(--gap) * -1);
    margin-right: calc(var(--gap) * -1);
    padding: 0 var(--gap);
    display: flex;
    overflow-x: scroll;

    li,
    li > a,
    li > button {
        display: block;
    }

    li > a,
    li > button {
        cursor: pointer;
        font-size: 1em;
        border: 0;
        padding: .75em;
        border-radius: var(--border-radius);
        background: var(--odd-bg);
        margin-right: .5em;
        font-weight: bold;
        white-space: nowrap;

        &,
        &:visited {
            color: var(--text-color)
        }

        &:hover {
            background: var(--odd-bg--hover);
            text-decoration: none;
        }

        &:active {
            background: var(--odd-bg);
        }
    }
}