<script setup>
const seasons = await useSeason()
const route = useRoute()
const runtimeConfig = useRuntimeConfig()

useHead({
  title: "LNP Wyniki",
})

var currentSeasonEncoded = ref(encodeURIComponent(seasons.current.value.name))
const { data: maleLeagueGroups } = await useAsyncData(
  `season/${currentSeasonEncoded.value}/sex/Male/league-groups`,
  () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/leagues/seasons/${currentSeasonEncoded.value}/sexes/Male/league-groups`)
)
const { data: femaleLeagueGroups } = await useAsyncData(
  `season/${currentSeasonEncoded.value}/sex/Female/league-groups`,
  () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/leagues/seasons/${currentSeasonEncoded.value}/sexes/Female/league-groups`)
)
</script>

<template>
  <div>
    <h2>Sezon {{ seasons.current.value.name }}</h2>

    <div class="league-sex-row">
      <div class="col">
        <h3>Mężczyźni</h3>
        <ul class="link-list">
          <li v-for="maleLeagueGroup in maleLeagueGroups">
            <NuxtLink :to="`/Male/season/${currentSeasonEncoded}/league/${maleLeagueGroup.id}`" >{{ maleLeagueGroup.name }}</NuxtLink>
          </li>
        </ul>
      </div>

      <div class="col">
        <h3>Kobiety</h3>
        <ul class="link-list">
          <li v-for="femaleLeagueGroup in femaleLeagueGroups">
            <NuxtLink :to="`/Female/season/${currentSeasonEncoded}/league/${femaleLeagueGroup.id}`" >{{ femaleLeagueGroup.name }}</NuxtLink>
          </li>
        </ul>
      </div>
    </div>

    <h2>Wszystkie Sezony</h2>

    <div class="league-sex-row">
      <div class="col">
        <h3>Mężczyźni</h3>
        <ul class="link-list">
          <li v-for="season in seasons.list.value">
            <NuxtLink :to="`/Male/season/${encodeURIComponent(season.name)}`">{{ season.name }} - Mężczyźni</NuxtLink>
          </li>
        </ul>
      </div>

      <div class="col">
        <h3>Kobiety</h3>
        <ul class="link-list">
          <li v-for="season in seasons.list.value">
            <NuxtLink :to="`/Female/season/${encodeURIComponent(season.name)}`">{{ season.name }} - Kobiety</NuxtLink>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.league-sex-row {
  display: flex;
  flex-wrap: wrap;

  .col {
    flex: 1 0 50%;
    min-width: 240px;
  }
}

</style>
