<script setup>
import { $fetch } from 'ohmyfetch'
import { useRoute, useRuntimeConfig, useAsyncData, useHead, ref, computed, reactive, createError } from '#imports'

const route = useRoute()
const runtimeConfig = useRuntimeConfig()

const encodedSeason = computed(() => encodeURIComponent(route.params.season))

const { data: leagueGroups } = await useAsyncData(
  `league_groups_${encodedSeason.value}_${route.params.sex}`,
  () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/leagues/seasons/${encodedSeason.value}/sexes/${route.params.sex}/league-groups`)
)
const leagueGroup = ref(leagueGroups.value.find(lg => lg.id === route.params.leagueId))

if (!leagueGroup.value) {
  throw createError({ statusCode: 404, statusMessage: 'Page Not Found' })
}

const { data: voivodeships } = await useAsyncData(
  `season/${encodedSeason.value}/sex/${route.params.sex}/league-dictionaries`,
  () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/seasons/${encodedSeason.value}/league-group/${leagueGroup.value.id}/sexes/${route.params.sex}/voivodeship-dictionaries`)
)
const voivodeship = ref(voivodeships.value.find(v => v.id === route.params.zpnId))

if (!voivodeship.value) {
  throw createError({ statusCode: 404, statusMessage: 'Page Not Found' })
}

const { data: zpnLeagueGroups } = await useAsyncData(
  `zpn_league_groups_${encodedSeason.value}_${leagueGroup.value.id}_${route.params.sex}_${voivodeship.value.id}`,
  () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/seasons/${encodedSeason.value}/league-groups/${leagueGroup.value.id}/sexes/${route.params.sex}/ZPNs/${voivodeship.value.id}/league-dictionaries`)
)

const zpnLeagues = reactive({})
const zpnLeaguesRequests = []

for (const zpnLeagueGroup of zpnLeagueGroups.value) {
  zpnLeaguesRequests.push(
    useAsyncData(
      `zpn_leagues_group_${zpnLeagueGroup.id}_${encodedSeason.value}_${voivodeship.value.id}`,
      () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/leagues/${zpnLeagueGroup.id}/seasons/${encodedSeason.value}/ZPNs/${voivodeship.value.id}/play-dictionaries`)
    )
      .then((response) => {
        zpnLeagues[zpnLeagueGroup.id] = response.data
      })
  )
}

await Promise.all(zpnLeaguesRequests)

useHead({
  title: leagueGroup.value.name + ' ' + voivodeship.value.name + ' - ' + route.params.season
})
</script>

<template>
  <div>
    <h1>{{ leagueGroup.name }} {{ voivodeship.name }} - {{ $route.params.season }}</h1>

    <div v-for="zpnLeagueGroup in zpnLeagueGroups">
      <h4>{{ zpnLeagueGroup.name }}</h4>
      <ul class="link-list">
        <li v-for="league in zpnLeagues[zpnLeagueGroup.id]">
          <NuxtLink :to="`/play/${league.id}`">{{ league.name }}</NuxtLink>
        </li>
      </ul>
    </div>
  </div>
</template>
