<script setup>
import { $fetch } from 'ohmyfetch'
import { useRoute, useRuntimeConfig, useAsyncData, useHead, computed, createError } from '#imports'

const route = useRoute()
const runtimeConfig = useRuntimeConfig()

const { data: match } = await useAsyncData(
  `match_${route.params.matchId}`,
  () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/matches/${route.params.matchId}`)
)

if (!match.value) {
  throw createError({ statusCode: 404, statusMessage: 'Match Not Found' })
}

const { data: events } = await useAsyncData(
  `match_${route.params.matchId}_events`,
  () => $fetch(`${runtimeConfig.public.apiBase}/api/bus/competition/v1/matches/${route.params.matchId}/events`)
)

const eventGroupsOrdered = computed(() => events.value ? events.value.events.slice().reverse() : null, { immediate: true })
const eventsOrdered = computed(() => events.value ? eventGroupsOrdered.value.map(e => e.events.slice().reverse()) : null, { immediate: true })

const sortByGk = (a, b) => {
  if (a.isKeeper === b.isKeeper) {
    return 0
  }

  if (a.isKeeper && !b.isKeeper) {
    return -1
  }

  return 1
}

const hostStarters = computed(() => events.value ? events.value.host.squad.filter(p => p.type === 'Starter').sort(sortByGk) : null)
const guestStarters = computed(() => events.value ? events.value.guest.squad.filter(p => p.type === 'Starter').sort(sortByGk) : null)

const hostSubs = computed(() => events.value ? events.value.host.squad.filter(p => p.type === 'Substitute') : null)
const guestSubs = computed(() => events.value ? events.value.guest.squad.filter(p => p.type === 'Substitute') : null)

useHead({
  title: `${match.value.host.abbreviation} ${match.value.scores.final} ${match.value.guest.abbreviation} | ${match.value.host.name} - ${match.value.guest.name}`
})
</script>

<template>
  <div>
    <div style="text-align: center">
      <h1>Mecz</h1>

      <div class="match_league">
        {{ match.league.name }}
      </div>
      <div>Kolejka: {{ match.queue }}, {{ match.dateTime }}</div>
    </div>

    <div class="match match--result">
      <div class="match__host">
        <h2 class="match__side-name">
          <NuxtLink :to="`/team/${match.host.id}`">{{ match.host.name }}</NuxtLink>
        </h2>
      </div>

      <div class="match__details">
        <div class="match__score">{{ match.scores.final }}</div>
        <div class="match__score-half">({{ match.scores.half }})</div>
      </div>

      <div class="match__guest">
        <h2 class="match__side-name">
          <NuxtLink :to="`/team/${match.guest.id}`">{{ match.guest.name }}</NuxtLink>
        </h2>
      </div>
    </div>

    <template v-if="events">
      <h2 class="h4">Przebieg Spotkania</h2>

      <div v-for="(eventGroup, index) in eventGroupsOrdered" :key="index" class="match-timeline timeline">
        <h3 class="h5 timeline__head">{{ eventGroup.header }}</h3>

        <div
          v-for="(event, eventIndex) in eventsOrdered[index]"
          :key="eventIndex"
          :class="{
            'timeline-event': true,
            'timeline-event--goal': event.type === 'Goal',
            'timeline-event--host': event.subType === 'OwnGoal' ? !event.isHost : event.isHost,
            'timeline-event--guest': event.subType === 'OwnGoal' ? event.isHost : !event.isHost
          }"
        >
          <div class="timeline-event__minute">
            {{ event.minute }}
          </div>
          <div class="timeline-event__player">
            {{ event.player.firstname }} {{ event.player.lastname }}
            <MatchEventSymbol class="match__symbol" :event="event" />
          </div>
        </div>
      </div>

      <h2>Składy</h2>

      <div class="match match--team" style="margin-bottom: 2rem">
        <div class="match__host">
          <h3 class="h4">{{ match.host.name }}</h3>

          <MatchPlayer v-for="player in hostStarters" :player="player" />

          <h4 class="h5 text-muted">Rezerwowi</h4>

          <MatchPlayer v-for="player in hostSubs" :player="player" />
        </div>

        <div class="match__guest">
          <h3 class="h4">{{ match.guest.name }}</h3>

          <MatchPlayer v-for="player in guestStarters" :player="player" />

          <h4 class="h5 text-muted">Rezerwowi</h4>

          <MatchPlayer v-for="player in guestSubs" :player="player" />
        </div>
      </div>

      <h2>Sztab</h2>

      <div class="match match--staff">
        <div class="match__officials">
          <h3 class="h4">Sędziowie</h3>
          <MatchStaff v-for="staff in events.referees" :staff="staff" />
        </div>

        <div class="match__host">
          <h3 class="h4">{{ match.host.name }}</h3>
          <MatchStaff v-for="staff in events.host.staff" :staff="staff" />
        </div>

        <div class="match__guest">
          <h3 class="h4">{{ match.guest.name }}</h3>
          <MatchStaff v-for="staff in events.guest.staff" :staff="staff" />
        </div>
      </div>
    </template>
  </div>
</template>

<style lang="scss">
.match {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__host,
  &__guest,
  &__officials {
    flex: 0 0 100%;
  }

  &__host,
  &__guest {
    min-width: 15rem;
  }

  &__host {
    text-align: left;
    justify-content: left;
  }

  &__guest {
    text-align: right;
    justify-content: right;
  }

  &--result {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__side-name {
    margin: .5rem 0;
  }

  &__score {
    font-size: 3rem;
    line-height: 1;
  }

  &__details {
    text-align: center;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &--goal {
    font-weight: bold;
  }

  &--team,
  &--staff {
    .match {
      &__host,
      &__guest {
        text-align: left;
      }
    }

    .event-symbol {
      margin-left: .5rem;
    }
  }

  @media screen and (min-width: 40rem) {
    & {
      flex-wrap: nowrap;
    }

    &__host,
    &__guest,
    &__officials {
      flex: 1 1 10%;
      max-width: 42%;
    }

    &__side-name {
      margin-top: .5rem;
    }

    &__host {
      text-align: right;
      justify-content: right;
    }

    &__guest {
      text-align: left;
      justify-content: left;
    }

    &--result {
      align-items: center;
    }

    &--event {
      margin-bottom: 0;

      .match {
        &__details {
          order: 0;
          color: currentColor;
        }
      }
    }
  }
}

.match-timeline {
  margin-bottom: 2rem;
}

.timeline {
  &__head {
    font-weight: bold;
    width: 100%;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 400px) {
    &__head {
      text-align: center;
    }
  }
}

.timeline-event {
  display: flex;
  align-items: center;
  padding-top: .2rem;
  padding-bottom: .2rem;
  border-radius: 100rem;

  &:nth-child(2n) {
    background: var(--odd-bg);
  }

  &--goal {
    font-weight: bold;
  }

  &__minute {
    color: var(--text-muted-color);
    flex-shrink: 0;
    flex-grow: 0;
    // width: 3rem;
  }

  &__player {
    flex-shrink: 1;
    display: flex;
    align-items: center;
  }

  &--host {
    .timeline-event__minute {
      margin-right: .5rem;
    }

    .timeline-event__player {
      text-align: right;
    }

    .event-symbol {
      order: -100;
      margin-right: .5rem;
    }
  }

  &--guest {
    justify-content: end;

    .timeline-event__minute {
      order: 100;
      margin-left: .5rem;
      text-align: right;
    }

    .event-symbol {
      margin-left: .5rem;
    }
  }

  @media screen and (min-width: 400px) {
    &__minute {
      width: 16%;
      text-align: center;
    }

    &--host {
      justify-content: end;

      .timeline-event__minute {
        order: 100;
        margin-right: 42%;
      }

      .event-symbol {
        order: 100;
        margin-right: 0;
        margin-left: .5rem;
      }
    }

    &--guest {
      justify-content: start;

      .timeline-event__minute {
        order: -100;
        margin-left: 42%;
        text-align: center;
      }

      .event-symbol {
        margin-right: .5rem;
        margin-left: 0;
        order: -100;
      }
    }
  }
}

</style>
